{% extends 'base.html' %} {% block content %}
<section class="no-touch">

  {% for image in images %}
  <!-- <div class="wrap col-md-3">
    <a href="{% url 'singlePhoto' image.id %} ">
    <div class="box">
      <div class="boxInner" >
        <img src="{{ image.photo.url }}" width="100%" height="100%" class="img-responsive">
        <div class="titleBox" style="font-family: 'Cabin Sketch', cursive">{{image.name|upper}}</div>
      </div>
    </div>

  </div> -->


  <div class="well col-md-3 col-md-offset-1 col-sm-12" style="">
      <a href="{% url 'singlePhoto' image.id %}">
        <img src="{{photo.photo.url}}"  class="img-responsive" width="100%" height="100%" alt="">
        <div class="uk-card uk-card-default uk-card-body uk-width-3-2@m">
             <h3 class="uk-card-title">{{image.name|upper}}</h3>
             <hr class="uk-divider-icon">
             <p>click image</p>
             <img src="{{image.photo.url}}"  class="img-responsive" width="100%" height="100%">
       </div>
     </a>
   </div>
{% endfor %}

</section>

{% endblock %}
<!-- <div class="col-md-10 col-md-offset-1 col-sm-12">
    <a href="{% url 'singlePhoto' photo_item.id %}">
      <img src="{{photo.photo.url}}"  class="img-responsive" width="100%" height="100%" alt="">
      <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
           <h3 class="uk-card-title">{{photo_item.name|upper}}</h3>
           <hr class="uk-divider-icon">
           <img src="{{photo_item.photo.url}}"  class="img-responsive" width="100%" height="100%">
     </div>
   </a>
 </div> -->
